@use '@/styles/colors/colors.scss' as colors;

body {
    background-color: colors.$background-color;
    // background-color: #f0f0f0;
    color: white;
}

* {
    font-family: "Montserrat", serif;
}